<?php
use Phalcon\Config;
use Phalcon\Logger;
return new Config([
  // MySQL Configuration
  'database' => [
    'adapter' => 'Mysql',
    'host' => 'MYSQLHOST',
    'username' => 'MYSQLUSER',
    'password' => 'MYSQLPASS',
    'dbname' => 'MYSQLDB'
  ],
  // CFSSL Configuration
  'cfssl' => [
    "remotes" => [
      // Usually http://localhost:8888
      "caserver" => "SERVERIP:8888"
    ]
  ],
  'application' => [
    'controllersDir' => APP_PATH . '/controllers/',
    'modelsDir'      => APP_PATH . '/models/',
    'formsDir'       => APP_PATH . '/forms/',
    'viewsDir'       => APP_PATH . '/views/',
    'libraryDir'     => APP_PATH . '/library/',
    'pluginsDir'     => APP_PATH . '/plugins/',
    'cacheDir'       => BASE_PATH . '/cache/',
    'baseUri'        => '/',
    'publicUrl'      => 'please_change',
    'cryptSalt'      => 'eEAfR|_&G&f,+vU]:jFr!!A&+71w1Ms9~8_4L!<@[N@DyaIP_2My|:+.u>/6m,$D'
  ],
  'mail' => [
    'fromName' => 'kpki',
    'fromEmail' => 'kpki@fastnameserver.eu',
    'smtp' => [
      'server' => 'claire.fastnameserver.eu',
      'port' => 587,
      'security' => 'tls',
      'username' => 'kpki@fastnameserver.eu',
      'password' => ''
    ]
  ],
  'amazon' => [
    'AWSAccessKeyId' => '',
    'AWSSecretKey' => ''
  ],
  'logger' => [
    'path'     => BASE_PATH . '/logs/',
    'format'   => '%date% [%type%] %message%',
    'date'     => 'D j H:i:s',
    'logLevel' => Logger::DEBUG,
    'filename' => 'application.log',
  ],
  // Set to false to disable sending emails (for use in test environment)
  'useMail' => true
]);
