<!-- HTML -->
<!-- Author Informations.
Please respect the work of the author. This work is opensource, so please do not sell this piece of software!
Made with <3 by Kai Pazdzewicz 2017 - ????
Thanks to ADACOR Hosting GmbH to be such a great company! Love the work here.
-->
<!doctype html>
<html lang="APP.LANGUAGE">
  <!-- HTML HEADER -->
  <head>
    <title>COMPANY.NAME</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="DOMAIN.NAME/assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="DOMAIN.NAME/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="DOMAIN.NAME/assets/css/APP.THEME.css">
    <!-- JAVASCRIPT -->
    <script src="DOMAIN.NAME/assets/js/jquery.slim.min.js"></script>
    <script src="DOMAIN.NAME/assets/js/popper.min.js"></script>
    <script src="DOMAIN.NAME/assets/js/bootstrap.min.js"></script>
    <script src="DOMAIN.NAME/assets/js/popper.min.js"></script>
    <script src="DOMAIN.NAME/assets/js/app.js"></script>
  </head>
  <!-- END HTML HEADER -->
  <!-- HTML BODY -->
  <body>
    <!-- HTML CONTAINER -->
    <div class="container">
