[Unit]
Description=OCSP Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=BASEFOLDER/../
ExecStart=CFSSL ocspserve -port=8889 -responses=OCSP_DUMP  -loglevel=0
Restart=on-abort

[Install]
WantedBy=multi-user.target
