[Unit]
Description=OCSP Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/html/htdocs/kpki/
ExecStart=/var/www/html/htdocs/kpki//client/cfssl ocspserve -port=8889 -responses=/var/www/html/htdocs/kpki//ocspdump.txt  -loglevel=0
Restart=on-abort

[Install]
WantedBy=multi-user.target
